p{
    margin: 0;
    padding: 0;
}

body{
    font-size: 14px;
    font-family: sans-serif;
}
/* #menu-bar {
    display: none;
    margin-left: 50px;
}
#menu {
    width: 35px;
    height: 30px;
    cursor: pointer;
    margin: 20px;
}
.bar {
    height: 5px;
    width: 100%;
    background-color: #fff;
    display: block;
    border-radius: 5px;
}
#bar1 {
    transform: translateY(-4px);
}
#bar3 {
    transform: translateY(4px);
} */
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}

.bg-deep{
    background-color: hsl(218, 28%, 13%);
    /* background: url("images/bg-curvy-desktop.svg") no-repeat ; */
    
}
.text-white{
    color: white;
}
.px-3{
    padding-left: calc(3*0.25rem);
    padding-right: calc(3*0.25rem);
}
.p-4{
    padding: calc(4 * 0.25rem)
}
.mt-4{
    margin-top: 1rem;
}
.get-started{
    background-color: hsl(198, 60%, 50%);
    padding: 0.75rem 1.75rem;
    border: 0px;
    border-radius: 100px;
    color: white;
    font-weight: 400;
    font-size: 1.25rem;
    width: 35%;
}
.w-50{
    width: 50%;
}
.text-center{
    text-align: center;
}
.p-5{
    padding-left: 7rem;
    padding-right: 7rem;
}
.font {
    font-size: 14px;
    margin: 0;
    padding-top: 0;
    font-weight: 700;
}
.w-25{
    width: 25%;
}
.mt-5{
    margin-top: 5rem;
    padding: 1rem 9rem;
}
.mt-6{
    padding-top: 6.5rem;
    padding-right: 5rem;
}
.heading {
    padding-right: 20rem;
    
}
.illustration {
    padding-left: 2rem;

}
 .link{
    color: hsl(176, 68%, 64%);
}
.icon {
    color: hsl(176, 68%, 64%);  
}
.border{
    border: 2px solid hsl(218, 28%, 13%);
    background-color: hsl(219, 30%, 18%);
    padding-bottom: 1rem;
}
.mt-7{
    padding-top: 2rem;
}
.m-4{
    margin-right: 2rem;
padding: 1.3rem;
}
.m-5{
    margin-left:1.5rem;
}
.image{
    border: 0px;
    border-radius: 100px;   
}
.pt-7{
    padding:2rem 1rem 1rem 0.5rem
}
.w-70{
    width: 70%;
}
.text-center{
    font-weight: 700;
}
.section-text {
    text-align: center;
    padding: 0 20px 0 20px;
    font-size: 14px;
    font-weight: 700;
}
.buttons{
    margin-top: 2rem;
    margin-bottom: 1.2rem;
    align-items: center;
}
.button1{
    transform: translateX(-30px);
}
.button2{
    transform: translateX(40px);
}
 .input{
    border: 0px solid;
    border-radius: 50px;
    height: 30px;
    color: white;
    width: 22vw;
   
}  
.for-free{
    background-color: hsl(198, 60%, 50%);
    border: 0px;
    border-radius: 25px;
    color: white;
    height: 30px;
 }
 .for-free p {
    font-weight: 700;
    font-size: 14px;
 }
.box{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 7rem;
}
footer{
    background-color: hsl(216, 53%, 9%);
    margin-top: 16rem;
}
.fylo{
    padding-top: 10rem;
    padding-left: 6rem;
}
.l-s{
    list-style: none;
    margin: 0;
}
.w-25{
    width: 25%;
}
.location{
    padding-left: 6rem;
    padding-right: 0;
    margin-right: 0;
}
.pa-1{
    padding-right: 2rem;
}
.icons{
    padding-left: 5rem;
    padding-right: 1.5rem;
}
.paragraph{
    font-weight: 400;   
}
.px-7{
    padding-right: 4rem;
    font-weight: 400;
}
.px-8{
    padding-top: 1rem;
}
.list{
    margin-top: 0;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
}
.mx-9{
    margin-left: 8.5rem;
}
.pxt-3{
    padding-right: 0.5rem;
}
a{
    color: hsl(176, 68%, 64%);
}
.attribution{
    text-align: center;
    margin-top: 1rem;
}
.attribution a {
    text-decoration: none;
}
.u-l {
    padding-bottom: 1rem;
    font-weight: 400;
}

/* Media Queries */
/* mobile */
* {
    box-sizing: border-box;  
}
@media screen and (max-width:800px) {
#menu-bar {
    display: block;  
}
}
@media screen and (max-width:375px) {
 
}